<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.mohawkcollege.enes">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone000818994">

        <activity
            android:name="ca.mohawkcollege.enes.MetricProgressActivity"
            android:exported="false" />
        <activity
            android:name="ca.mohawkcollege.enes.PhotoLibraryActivity"
            android:exported="false" />
        <activity
            android:name="ca.mohawkcollege.enes.SetPhotoActivity"
            android:exported="false" />
        <activity
            android:name="ca.mohawkcollege.enes.ViewCalendarDayActivity"
            android:exported="false" />
        <activity
            android:name="ca.mohawkcollege.enes.CalendarActivity"
            android:exported="false" />
        <activity
            android:name="ca.mohawkcollege.enes.ResultsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="ca.mohawkcollege.enes.WorkoutActivity"
            android:exported="false" />
        <activity
            android:name="ca.mohawkcollege.enes.EditExerciseActivity"
            android:exported="false" />
        <activity
            android:name="ca.mohawkcollege.enes.AddExerciseActivity"
            android:exported="false" />
        <activity
            android:name="ca.mohawkcollege.enes.CreateWorkoutPlanActivity"
            android:exported="false" />
        <activity
            android:name="ca.mohawkcollege.enes.EditWorkoutPlanActivity"
            android:exported="false" />
        <activity
            android:name="ca.mohawkcollege.enes.WorkoutPlansActivity"
            android:exported="false" />
        <activity
            android:name="ca.mohawkcollege.enes.AddMeasurementActivity"
            android:exported="false" />
        <activity
            android:name="ca.mohawkcollege.enes.ProgressActivity"
            android:exported="false" />
        <activity
            android:name="ca.mohawkcollege.enes.AccountActivity"
            android:exported="false" />
        <activity
            android:name="ca.mohawkcollege.enes.PermissionsActivity"
            android:exported="false" />
        <activity
            android:name="ca.mohawkcollege.enes.HomeActivity"
            android:exported="false" />
        <activity
            android:name="ca.mohawkcollege.enes.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>